@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@500&family=Jost:ital@1&family=Roboto+Slab:wght@400;500&display=swap');

:root {
  --primary-color: rgb(20, 219, 20);
  --accent-color: rgb(13, 173, 13);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cedarville Cursive', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Jost', sans-serif;
  font-family: 'Roboto Slab', serif;
  ;
  scroll-behavior: smooth;
}

/* NavBar */
.nav-item a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 15px;
}

.nav-link a :hover {
  color: rgb(12, 79, 37);
}


.navbar-brand img {
  width: 150px;
}

.search {
  height: 45px;
  outline: none;
  border: 2px solid rgb(24, 134, 64);
  background-color: transparent;
  border-radius: 20px 0px 0px 20px;

}

.btn1 {
  height: 45px;
  outline: none;
  border: none;
  background-color: rgb(24, 134, 64);
  color: white;
  border-radius: 0px 20px 20px 0px;
  transition: all 0.4s;
  margin-inline-end: 2px;
}

.btn1:hover {
  opacity: 0.8;
  color: white;
  border: 4px solid rgb(15, 96, 45);
}

.bi-cart3 {
  font-size: 30px;
  color: black;
  cursor: pointer;
  padding-top: 5px;
  transition: all 0.4s;
}

.bi-cart3:hover {
  color: rgb(24, 134, 64);
}

.bi-person-circle {
  font-size: 30px;
  color: black;
  cursor: pointer;
  padding-top: 5px;
  transition: all 0.4s;
  margin-left: 20px;
}

.bi-person-circle:hover {
  color: rgb(24, 134, 64);
}

.navbar-toggler {
  font-size: 20px;
  color: black;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* login Form */
body{
  width: 100%;
  height: 100vh;
 ;
 
}
::selection{
  color: #fff;
 
}
.wrapper{
  width: 380px;
  padding: 40px 30px 50px 30px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
  margin: 0 auto;
  padding-bottom: 5rem;
}
.wrapper header{
  font-size: 35px;
  font-weight: 600;
}
.wrapper form{
  margin: 40px 0;
}
form .field{
  width: 100%;
  margin-bottom: 20px;
}
form .field.shake{
  animation: shake 0.3s ease-in-out;
}
@keyframes shake {
  0%, 100%{
    margin-left: 0px;
  }
  20%, 80%{
    margin-left: -12px;
  }
  40%, 60%{
    margin-left: 12px;
  }
}
form .field .input-area{
  height: 50px;
  width: 100%;
  position: relative;
}
form input{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 45px;
  font-size: 18px;
  background: none;
  caret-color: #5372F0;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  transition: all 0.2s ease;
}
form .field input:focus,
form .field.valid input{
  border-color: #5372F0;
}
form .field.shake input,
form .field.error input{
  border-color: #dc3545;
}
.field .input-area i{
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}
.input-area .icon{
  left: 15px;
  color: #bfbfbf;
  transition: color 0.2s ease;
}
.input-area .error-icon{
  right: 15px;
  color: #dc3545;
}
form input:focus ~ .icon,
form .field.valid .icon{
  color: #5372F0;
}
form .field.shake input:focus ~ .icon,
form .field.error input:focus ~ .icon{
  color: #bfbfbf;
}
form input::placeholder{
  color: #bfbfbf;
  font-size: 17px;
}
form .field .error-txt{
  color: #dc3545;
  text-align: left;
  margin-top: 5px;
}
form .field .error{
  display: none;
}
form .field.shake .error,
form .field.error .error{
  display: block;
}
form .pass-txt{
  text-align: left;
  margin-top: -10px;
}
.wrapper a{
  color: rgba(63, 114, 76, 0.7);
  text-decoration: none;
}
.wrapper a:hover{
  text-decoration: none;
}
form input[type="submit"]{
  height: 50px;
  margin-top: 30px;
  color: #fff;
  padding: 0;
  border: none;
  background:rgb(15, 96, 45);
  cursor: pointer;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  transition: all 0.3s ease;}

form input[type="submit"]:hover{
  opacity: 0.8;
  color: white;
  border: 4px solid rgb(15, 96, 45);}



/* footer */
.news {
  background-color: rgb(12, 79, 37);
  color: whitesmoke;
}

.hbtn {
  height: 45px;
  width: 100px;
  background: white;
  margin-left: -10px;
  border: 2px solid white;
  font-weight: 600;
}

.news input {
  height: 45px;
  width: 55%;
  border: 2px solid white;
  outline: none;
  background: rgb(12, 79, 37);
  color: white;
  margin-top: 20px;
  font-weight: 600;
}

.news::placeholder {
  color: white;
}

.news p {
  margin: 0;
}

.fa-brands {
  font-size: 2.5rem;
  cursor: pointer;
  padding-right: 5px;
}

.form-button-container input {
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: rgb(209, 209, 209);
  background: rgba(63, 114, 76, 0.7);
}

.form-button-container input:hover {
  background: rgba(56, 204, 93, 0.7);
  color: rgb(255, 255, 255);
}

.my-Company a {
  text-decoration: none;
  color: white;
}

.alert p {
  color: rgba(255, 255, 255, 0.532);
}

.alert a {
  color: rgb(17, 195, 31);
  text-decoration: none;
}