@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@500&family=Jost:ital@1&family=Roboto+Slab:wght@400;500&display=swap');

:root{
  --primary-color: rgb(20, 219, 20);
  --accent-color:rgb(13, 173, 13);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cedarville Cursive', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Jost', sans-serif;
font-family: 'Roboto Slab', serif;;
scroll-behavior: smooth;
}
/* NavBar */
.nav-item a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 15px;
}


.navbar-brand img{
  width: 150px;
}
.search{
  height: 45px;
  outline: none;
  border: 2px solid var(--primary-color);
  background-color: transparent;
  border-radius: 20px 0px 0px 20px;

}
.btn1{
  height: 45px;
  outline: none;
  border:none;
  background-color:var(--primary-color);
  color: white;
  border-radius: 0px 20px 20px 0px;
  transition: all 0.4s;
  margin-inline-end: 2px;
}

.btn1:hover{
  opacity: 0.8;
  color: white;
  border: 4px solid rgb(12, 79, 37);
}

.bi-cart3{
font-size: 30px;
color: black;
cursor: pointer;
padding-top: 5px;
transition: all 0.4s;
}
.bi-cart3:hover{
color: var(--accent-color);
}
.navbar-toggler{
  font-size: 20px;
  color: black;
}
.navbar-toggler:focus{
  outline: none;
  box-shadow: none;
}

/* sidebar */
.accordion-body .dropdown-menu{
  width: 100%;
}
.category-row{
  width: 100% ;
}

/* product */
.pcard:hover{
  box-shadow: -3px -1px 24px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: -3px -1px 24px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px -1px 24px -5px rgba(0,0,0,0.75);
  transition: 0.5s; 
  cursor: pointer;
}




 /* footer */
 .news{
  background-color:rgb(12, 79, 37);
  color: whitesmoke;
}
.hbtn{
  height: 45px;
  width: 100px;
  background: white;
  margin-left: -10px;
  border:  2px solid white;
  font-weight: 600;  
}
.news input{
  height: 45px;
  width: 55%;
  border: 2px solid white;
  outline: none;
  background:rgb(12, 79, 37);
  color: white;
  margin-top: 20px;
  font-weight: 600;
}
.news::placeholder{
  color: white;
}
.news p{
  margin: 0;
}
.fa-brands{
  font-size: 2.5rem;
  cursor: pointer;
  padding-right:5px;
}










